@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

  .hidden {
    // opacity: 0;
    display: none;
  }

  .hello {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(239, 234, 234);

    .text {
      font-family: 'Bitcount Prop Single', sans-serif;
      letter-spacing: 2px;
      font-size: 7rem;
    }

    .name-container {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      button {
        padding: 1rem 0.5rem;
        font-size: 3rem;
        color: red;
        border: 2px dashed red;
        border-radius: 10px;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: red;
          color: white;
        }
        &:active {
          padding: 0.5rem 0.5rem;
          background-color: red;
          color: white;
        }
      }
    }

    .add__name form {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 2rem;
      border: 2px dashed green;
      border-radius: 15px;

      button {
        display: flex;
        align-items: center;
        color: green;
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: bold;
        background: white;
        border: none;
        padding: 1rem;
        border-radius: 50%;
        box-shadow: -5px 15px 19px -6px rgba(0, 0, 0, 0.35);
        // transition: all 3s ease-in-out;
        transition: 0.2s ease-in-out;

        &:hover {
          // padding: 0.9rem;
          box-shadow: none;
        }
      }

      input {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Bitcount Prop Single', sans-serif;
        color: green;
        border: none;
        padding: 0.6rem;
        width: 10rem;
        background: none;
        &::placeholder {
          color: grey;
          font-weight: 600;
          font-size: 1.8rem;
        }
        &:focus {
          outline: 1px solid grey;
          border-radius: 8px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hello {
    flex-direction: column;
  }
}
